package oauth

import (
	"github.com/allan-lewis/no-geeks-brewing-go/user"
)

templ AuthComponent(user user.User) {
    if user.Authenticated() {
        <div>
            <button hx-get="/auth/logout">Logged in as { user.Name() }</button>
        </div>
    } else {
        <div>
            <button hx-get="/auth/login">Login with Authentik</button>
        </div>
    }
}
